@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'NHaasGroteskRg';
		src: url('./fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
	}

	@font-face {
		font-family: 'NHaasGroteskBld';
		src: url('./fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
	}

	* {
		box-sizing: border-box;
		font-family: 'NHaasGroteskRg', sans-serif;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: black;
		color: white;
	}
}
